.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
button{
  display: block;
  margin: auto;
  margin-top: 15px;
  font-size: 20px;
  background: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
input{
  border-radius: 10px;
  height: 30px;
  margin: 20px auto 0;
  padding: 0 5px;
  width: 200px;
  border: none;
  background: #ebebeb;
  color: rgb(87, 86, 86);
  font-weight: bold;
}
.allCompaniesContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.buttonToSearchCompanies{
  color: #575656;
  background: rgb(254, 254, 254);
  font-size: 15px;
  border: 2px solid #575656;
}
.buttonToSearchCompanies:hover{
  color: rgb(254, 254, 254);
  background: #575656;
  cursor: pointer;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgba(0,0,0,0.5)!important;
}
.validationModalContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top:20px
}
.validationButton{
  width: 80px;
  background-color: #4dc94d;
  border: none;
  color: #fefefe;
  margin: 0;
}
.validationButton:hover{
  background-color: #277b27;
  cursor: pointer;
  filter: drop-shadow(2px 4px 3px #277b27);
}
.refuseButton{
  width: 80px;
  background-color: #d62828;
  border: none;
  color: #fefefe;
  margin: 0;
}
.refuseButton:hover{
  background-color: #a51c1c;
  cursor: pointer;
  filter: drop-shadow(2px 4px 3px #a51c1c);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
